<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body style="background-color: powderblue">
    <h1>Overview</h1>
    <h2>
      It is an application that provides the ideal job titles and salary for the
      title across US for a user based on the skills, education and experience.
    </h2>
    <br />
    <h2>
      The user input is fed into a machine learning model that has been trained
      utilizing the O*NET Dataset for the entire US and a proprietary algorithm
      to find the best match of titles the user is best suited.
    </h2>
    <br />
    <h2>
      The results for the user include the job title, core tasks, technologies
      needed and the salary for the recommended titles. Also, the latest trends
      for the year 2018, in terms of job growth, highest growing and declining
      jobs also has been displayed.
    </h2>
    <br />
    <h1>Business Problem</h1>
    <h2>
      Job fit recommendation system to indicate the top highly likely position
      titles for each individual along with salary mapping that would fit a
      given job seeker’s current skills, education, education level, years of
      experience and other factors.
    </h2>
    <br />
    <h2>It would help:</h2>
    <br />
    <ul>
      <li>
        <h2>
          The job seeker to understand the value of their skills more and target
          their job application process.
        </h2>
      </li>
      <li><h2>Check out Current trends within US</h2></li>
      <li><h2>Get access to data</h2></li>
    </ul>
    <br />
    <h2>
      Eventually, this would help the entire recruiting ecosystem that includes
      company career sites, job boards, applicant tracking systems, and staffing
      agencies to improve site engagement and candidate conversion.
    </h2>
  </body>
</html>
